::selection
  background: #00ffd0

::-moz-selection
  background: #00ffd0

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: #00ffd0

svg text
  cursor: default
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
