@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: local("Space Grotesk Light"), local("SpaceGrotesk-Bold"),
		url(../fonts/SpaceGrotesk-Light.woff) format("woff");
}
@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: local("Space Grotesk Regular"), local("SpaceGrotesk-Bold"),
		url(../fonts/SpaceGrotesk-Regular.woff) format("woff");
}
@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-display: block;
	src: local("Space Grotesk Bold"), local("SpaceGrotesk-Bold"),
		url(../fonts/SpaceGrotesk-Bold.woff) format("woff");
}
