.noise
    opacity: .20
    position: absolute
    top: 0
    left: 0
    z-index: -5
    background: var(--light)
.hero
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    height: 100vh
    &__left

    &__right
        margin-top: -10rem
        