.noise
    opacity: .20
    position: absolute
    top: 0
    left: 0
    z-index: -5
    background: var(--gray)
.hero
    &__right
        margin-top: -4rem
    &__left
        margin-top: 11rem
        h1
            margin-bottom: 2rem
        h5
            font-weight: 300
            padding-left: .5rem
            margin-bottom: 1rem
@media screen and (max-width: 1000px)
    .hero__right
        overflow-x: hidden