.case
    display: block
    position: relative
    &__close
        position: fixed
        top: 6vh
        left: 2vw
    &__landing
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        height: 100vh
        margin-top: 10vh
        position: relative
        &-logo
            width: 100%
            max-width: 700px
            height: auto
            margin-bottom: -5vh
        &-top
            img:first-child
                filter: drop-shadow(1rem 4.1rem 5rem rgba(0,0,0,.16)) 
                animation: slideUp 1.5s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1
                opacity: 0
            img:last-child
                filter: drop-shadow(2rem 1.5rem 2rem rgba(0,0,0,.16)) 
                margin-left: -10vw
                margin-bottom: -3vw
                animation: slideUp 1.5s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1 300ms
                opacity: 0
    &__content
        .wrapper
            display: block
            height: auto
        h2
            margin: 5rem 0 2rem 0
            color: var(--dark)
        p
            margin: 0
        .case__img
            margin: 5rem 0 5rem 0
            text-align: center
        .case__mockup
            margin-top: 15rem
            margin-bottom: 15rem
            img
                display: flex
                margin: auto
                filter: drop-shadow(0 4.7rem 3.5rem rgba(0,0,0,.16))
                .animate
                    animation: slideUp 1.5s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1