.works
    overflow: hidden
    .coming-soon
        opacity: 0
        visibility: hidden
        transform: translateY(80vh)
        font-size: 25vw
        text-align: center
        line-height: .5
        top: 0
        left: 0
        right: 0
        bottom: 0
        font-weight: 700
        position: fixed
        margin: auto
        z-index: 500
        color: var(--darker)
        &.animate
            animation: comingSoon 3s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1
    .bookopus, .rennie
        padding: 0 5%
        @media screen and (max-width: 750px)
            padding: 0
            justify-content: space-between
    &__article
        transition: all 1s cubic-bezier(0.69, 0.02, 0.29, 1.16)
        *
            margin: 0
        @media screen and (max-width: 900px)
            margin-left: 2rem
            padding-right: 2rem
    &__name
        color: var(--dark)

    &__title
        margin-bottom: 1rem

    .rennie
        .works__article, h2
            text-align: right
            color: var(--light)
        .works__name::before
            background: var(--light)
            left: auto
            right: -20%