.case__img
    margin: 5rem 0 5rem 0
    text-align: center
    &--full img
        width: 100%
        height: auto
.case__mockup
    margin-top: 15rem
    margin-bottom: 15rem
    img
        display: flex
        margin: auto
        max-width: 80%
        height: auto
        filter: drop-shadow(0 4.7rem 3.5rem rgba(0,0,0,.16))
        opacity: 0
        &.animate
            animation: slideUp 1.2s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1