.cardimg
    width: 492px
    height: 492px
    box-shadow: 0 1rem 2rem rgba(0,0,0,.20)
    border-radius: .3rem
    cursor: alias
    margin: 0
    position: relative
    &--hero
        width: 409px
        height: 409px
        cursor: none
        filter: hue-rotate(180deg)
        @media screen and (max-width: 600px)
            display: none
    &--bookopus
        background: url('../images/bookopus-thumb-bg.jpg')
        transition: all 1.5s cubic-bezier(0.69, 0.02, 0.29, 1.16)
        &.animate
            animation: slideLeft 1.5s cubic-bezier(0.69, 0.02, 0.29, 1.16) forwards 1
    &__item
        position: absolute
        transform: translateY(5rem)
        // box-shadow: 0 .3rem 2rem rgba(0,0,0,.20)
        width: 300px
        height: 184px
        z-index: 5
        top: calc(58% - (184px/2))
        left: calc(58% - (300px/2))
        opacity: 0
        transition: all 600ms cubic-bezier(0.69, 0.02, 0.29, 1.16)
        transition-delay: 100ms
    &__back
        z-index: 1
        height: 204px
        top: 28%
        left: 18%
        transform: translateY(5rem)
        transition: all 600ms cubic-bezier(0.69, 0.02, 0.29, 1.16)
        transition-delay: 0
    &--reveal
        transform: translateY(0)
        opacity: 1
    @media screen and (max-width: 1000px)
        width: 49.2rem
        height: 49.2rem
        &--hero
            width: 40.9rem
            height: 40.9rem
        &__item
            width: calc(30rem / 1.5)
            height: calc(18.4rem / 1.5)
        &__back
            height: calc(20.4rem / 1.5)
            left: -38%