.works
    &__article
        *
            margin: 0
        @media screen and (max-width: 900px)
            margin-left: 2rem
            padding-right: 2rem
    &__name
        color: var(--dark)
        position: relative
        &::before
            content: ''
            display: inline-block
            width: 9rem
            height: .1rem
            background: var(--dark)
            position: absolute
            top: 50%
            left: -30%
            z-index: 3
            @media screen and (max-width: 900px)
                left: -55%
    &__title
        margin-bottom: 1rem